ul{
    list-style-type: none;
    left: 5px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.data{
    display: block;
    float: left;
    height: 100%;
    margin-right: 5px;
}
