.start-page{
    display: grid;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 12fr 6fr 2fr;   
}

.crad-img {
    max-width: 90%;
    padding-right: 300px;
}
