.parent {
    position: absolute;
    left: 0px;
    list-style: none;
    margin: 0;
    padding-right: 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

.parent > li {
    display: block;
    float: left;
    align-items: center;
    margin: 0;
    padding: 0;
   
}


