*{
  margin: 0;
  padding: 0;
  /* To Prevent selecting elements */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html, body{
  background-color: #333;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, black, #333333, black);
}
body{
  position: fixed;
  overflow: hidden;
}
.title-bar{
  background-color: #fff;
}
.app{
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

