.container{
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: #dddddd;
    height: 24px;
    -webkit-app-region: no-drag;
}
ul{
    list-style-type: none;
    right: 0;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
